@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eeeeee;
  --foreground: #171717;
  --font-code-like: 'Source Code Pro', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: #003366;
}

.bg-background {
  background-color: var(--background);
}
/* 
.bg-ust-yellow {
  background-color: #CC9900;
} */